[default]

[csid]
aws_access_key_id={{ onepasswordRead "op://Development/AWS - CSID/Keys/access_key_id" -}}
aws_secret_access_key={{ onepasswordRead "op://Development/AWS - CSID/Keys/secret_access_key" -}}
