{{ if lookPath "conda" -}}

## Get base directory from $(which conda)

# >>> conda initialize >>>
__conda_setup="$('/opt/homebrew/Caskroom/miniconda/base/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/opt/homebrew/Caskroom/miniconda/base/etc/profile.d/conda.sh" ]; then
        . "/opt/homebrew/Caskroom/miniconda/base/etc/profile.d/conda.sh"
    else
        export PATH="/opt/homebrew/Caskroom/miniconda/base/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<
{{- else -}}
# Conda not installed
{{- end }}

{{ if (stat (joinPath .chezmoi.homeDir "Library/Application Support/JetBrains/Toolbox/scripts")) -}}
export PATH="$PATH:$HOME/Library/Application Support/JetBrains/Toolbox/scripts"
{{- else -}}
# Jetbrains toolbox not installed
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".krew/bin") -}}
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{{- else -}}
# Krew not installed
{{- end }}

{{ if (and (lookPath "op") (stat (joinPath .chezmoi.homeDir ".config/op/plugins.sh"))) -}}
source "$HOME/.op/plugins.sh" >> ~/.zshrc
{{- else -}}
# 1Password CLI not installed
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".dotnet/tools") -}}
export PATH="$PATH:$HOME/.dotnet/tools"
{{- else -}}
# dotnet not installed
{{- end }}
