[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".local/diff-so-fancy"]
	path = .local/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule ".zinit/bin"]
	path = .zinit/bin
	url = https://github.com/zdharma/zinit.git
