[user]
	name = Josh Asplund
	email = joshasplund@gmail.com
[core]
	pager = delta
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[alias]
	fpush = push --force-with-lease
[push]
    default = simple
[pull]
    rebase = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[transfer]
	fsckobjects = true
[status]
	showUntrackedFiles = all
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	helper = git-credential-manager
{{ if and (eq .chezmoi.os "darwin") (lookPath "op") -}}
[user]
	signingkey = {{ onepasswordRead "op://Private/id_ed25519/Public key" }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
{{ end }}
